@import url('http://fonts.cdnfonts.com/css/audiowide');

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  width: 70%;
  margin: 1rem auto;
}

.headline {
  font-family: 'audiowide', sans-serif;
}

.scores {
  font-family: 'audiowide', sans-serif;
  display: flex;
  gap: 1rem;
  color: #e5e510;
}

.leader-board {
  display: flex;
  gap: 5rem;
  width: 60%;
  padding: 2rem;
  background: #eee;
  background: linear-gradient(to bottom, #d00000, #6a040f, #370617);
}

.recent-scores {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 1rem;
  background: #e85d04;
  box-shadow: 2px 2px;
  width: 5rem;
  height: 2rem;
  border-radius: 6px;
}

.add-score {
  font-family: 'audiowide', sans-serif;
  color: #e5e510;
}

input {
  width: 9rem;
  height: 1.5rem;
  border: 2px solid #000;
  box-shadow: 2px 2px;
  border-radius: 6px;
  background: #ffba08;
}

input::placeholder {
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 2px solid #fff;
}

li {
  color: #fff;
  height: 1.5rem;
}

li:nth-child(odd) {
  background: #ffba08;
}
