@import url('http://fonts.cdnfonts.com/css/audiowide');

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  background-image: url('https://wallpaperaccess.com/full/343570.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}

.headline {
  font-family: 'audiowide', sans-serif;
  font-size: 400%;
  color: #e5e510;
  text-align: center;
}

.scores {
  font-family: 'audiowide', sans-serif;
  display: flex;
  gap: 1rem;
  color: #e5e510;
}

.leader-board {
  display: flex;
  margin-left: 5rem;
  gap: 5rem;
  padding: 2rem;
}

.recent-scores {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 1rem;
  background: #e85d04;
  box-shadow: 2px 2px;
  width: 5rem;
  height: 2rem;
  border-radius: 6px;
}

button:hover {
  background: #eae2b7;
}

.add-score {
  font-family: 'audiowide', sans-serif;
  color: #e5e510;
}

input {
  width: 100%;
  padding: 0.9rem;
  box-shadow: 2px -2px 8px rgba(255, 255, 255, 0.5);
  background: #ffba08;
}

input::placeholder {
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: #fff;
  padding: 0.9rem;
}

li:nth-child(odd) {
  background: #ffba08;
}

@media (max-width: 768px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .headline {
    font-size: 300%;
  }

  input {
    width: 90%;
  }

  .leader-board {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0;
  }
}
